.message{
    display: grid;
    grid-template: 1fr/ 1fr 1fr;
}

.messageUsers{
    /* background-color: skyblue; */
    
}
.user{

}
.messageUsers .active {
    color: rgb(55, 0, 255);
    background-color: aqua;
}

.messageDialogs{
    /* background-color: skyblue; */
    padding-left: 5px;
    
    
}

.ava{
    width: 25px;
    position: relative;
    top: 5px;
    margin-right: 10px;
}
.messageItem_send{
    margin-left: 20px;
}
.messageItem_btn{
    margin-left: 5px;
    position: relative;
    top: -5px;
}