.nav{
    grid-area: n;
    text-align: center;
    background-color: #f1f1f1;
    font-size: 20px;
}

.item{
    text-decoration: none;
    padding: 10px;
    color: #000000;
}

.nav :hover{
    background-color: #555;
    color: white;
}
.item .active{
    color: rgb(153, 1, 1);
    font-weight: bold;
    display: block;
    text-decoration: none;
}
.item:nth-child(5){
    margin-top: 50px;
}
