.nav {
    grid-area: n;
    text-align: center;
    background-color: #f1f1f1;
    font-size: 20px;
    background: #FFFFFF;
    text-decoration: none;

}

.logo {
    width: 100px;
    position: relative;
    padding-top: 15px;
    margin-bottom: 35px;
}

.item {
    text-decoration: none;
    padding-bottom: 20px;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 150%;
    color: #324552;
}

.nav a:hover{
    font-weight: bold;
    transition: .2s;
}

.item .active{
    font-weight: bold;
    text-decoration: none;
    color: #000000;
}